*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  all: inherit;
}

header, main, footer {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
}
