.our {
  margin: 0 auto;
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 50px 0px 100px;
    gap: 32px;
    width: 577px;
    height: 503px;
    background: #70908b;
    border-radius: 0px 16px 16px 0px;

    &_title {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 120.6%;
      color: #fdfbf8;
    }

    &_text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 95.6%;
      color: #fdfbf8;
    }
    &_div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &--text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 95.6%;
        color: #fdfbf8;
      }
    }
  }
  &__wrapper {
    display: flex;
  }
}
.our__scrol {
  overflow-x: auto;
}
.flex_our {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .our__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 50px 0px 10px;
    gap: 32px;
    width: 1000px;
    height: 503px;
    background: #70908b;
    border-radius: 0px 16px 16px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .our__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 50px 0px 10px;
    gap: 32px;
    width: 1500px;
    height: 503px;
    background: #70908b;
    border-radius: 0px 16px 16px 0px;
  }
}

@media only screen and (max-width: 630px) {
  .our__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 50px 0px 10px;
    width: 100%;
    gap: 32px;
    height: 503px;
    background: #70908b;
    border-radius: 0px 16px 16px 0px;
  }

  .flex_our {
    margin: 0 auto;
    display: block;
    align-items: center;
  }
}
